@import "./base/base.scss";
@import "./utils/variables.scss";
@import "./components/search.scss";
@import "./components/card.scss";
@import "./components/filter.scss";
@import "./layout/header.scss";


#tag{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 4% ;
}
.tag{
    color: white;
    border-radius: 5px;
    padding: 10px;
    background-color: red;
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}
.cross{
    margin-left: 6px;
}

.hidden{
    display: none;
}
.active{
    display: inline-flex;
    width: 496px;
}
li{
    color: white;
}
.usetensils{
    background-color: $usetensiles;
}
.appareils{
    background-color: $appareils;
}
.ingredient{
    background-color: $ingredients
}
ul{
    margin: 0;
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 680px){
    ul{
        flex-direction: column;
    }
    .active{
        width: 299px;
    }
}
