@import "../utils/variables.scss";
.filter{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    &__items{
        display: flex;
        flex-wrap: wrap;
        &__input{
            width: 170px;
            height: 69px;
            border-radius: 5px;
            color: white;
            outline: none;
            border: none;
            &:hover{
                cursor: pointer;
            }
            &::placeholder{
                size: 18px;
                line-height: 21.6px;
                align-items: center;
                font-weight: 700;
            }
        }
        &__arrow{
            position: relative;
            right: 36px;
            place-self: center;
        }
    }
    &__menu{
        margin-left: 5%;
        color: white;
        & ::placeholder{
            color: white;
            padding: 10%;
            left: 10%;
        }
    }
    &__item{
        flex: 1 0 calc((100% - 20px) / 4);
        margin-right: 20px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    &__box{
        height: auto;
        position: absolute;
        width: 500px;
        border-radius: 0px 5px;
        color: white;
        border: none;
        margin-top: -10px;
    }
}
#ingredients{
    background-color: $ingredients;
}
#ingredients ::placeholder{
    color: white;
    width: 85%;

}
#appareils{
    background-color: $appareils ;
}
#ustensiles{
    background-color: $usetensiles;
}
/* DRODOWN MENU */
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.rotate{
    transform: rotate(180deg);
}

.filter__items__input__dropdown-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    display: none;
}

@media screen and (max-width: 992px){
    #recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & .recipes__card{
        width: 38%;
    }
    }
}