@import "../utils/variables.scss";
.search{
    margin-top: -100px;
    &__input{
        display: flex;
        justify-content: center;
        align-items: center;
        &__bar{
            background-color: $search;
            width: 88%;
            height: 60px;
            padding: 10px;
            font-size: 25px;
            border: none;
            outline: none;
            border-radius: 5px;
        }
        &__loop{
            position: relative;
            right: 50px;
        }
    }
}