@import "../utils/variables.scss";
.search{
    margin-top: -100px;
    &__input{
        display: flex;
        justify-content: center;
        align-items: center;
        &__bar{
            background-color: $search;
            width: 88%;
            height: 60px;
            padding: 15px;
            font-size: 25px;
            border: none;
            outline: none;
            border-radius: 5px;
            &::placeholder{
            font-weight: 400;
            size: 18px;
            line-height: 21.6px;
        }
        }
        &__loop{
            position: relative;
            right: 50px;
        }
    }

}
